@font-face{
  font-family: "CenturyGothic";
  src: url(fonts/CenturyGothic.ttf) format(truetype);
}

body{
 margin: 0;
 padding: 0;
 background: url("img/fondo.png") no-repeat center top;
 background-size: cover;
 font-family: CenturyGothic;
}

.text1{
  color: rgb(205, 235, 255);
  text-align: center;
}

.text12{
  color: rgb(221, 241, 255);
  text-align: center;
}

.text2{
  color:rgb(247, 212, 115);
  transform: translate(0%, 320%);
  text-align: center;
}

.login-container{
    width: 400px;
    height: 730px;
    background:rgb(0, 91, 136);
    color: rgb(255, 170, 0);
    top: 50%;
    left: 50%;
    position: relative;
    transform: translate(-200px, 20%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.login-container .avatar{
    width: 140px;
    height: 93px;
    border-radius: 35%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.login-container h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.git{
  width: 200px;
  height: 200px;
  position: relative;
  left: 22%;
}
.git:hover {
  transform: scale(90%);
  transition-delay: .1s;
}

.icon{
  width: 80px;
  height: 80px;
  position: relative;
  transform: translate(50px, 60%);
  left: -15%;
  top: 0%;
}
.icon:hover{
  box-shadow: 0 0 10px rgb(233, 255, 255), 0 0 40px rgb(233, 255, 255), 0 0 80px rgb(233, 255, 255);
}

.icon1{
  width: 80px;
  height: 80px;
  position: relative;
  top: 7%;
  left: 16%;
}
.icon1:hover {
  transform: scale(90%);
  transition-delay: .1s;
}

.icon2{
  width: 80px;
  height: 80px;
  position: relative;
  transform: translate(50px, 60%);
  left: 15%;
  top: 0%;
}
.icon2:hover{
  box-shadow: 0 0 10px rgb(233, 255, 255), 0 0 40px rgb(233, 255, 255), 0 0 80px rgb(233, 255, 255);
}








@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");
* {
  box-sizing: border-box;
}

#app {
  display: relative;
  overflow: relative;
  position: center;
  width: relative;
  height: relative;
}

.butter-cheese-eggs {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-150px, 120%);
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 300px;
}
.butter-cheese-eggs > div {
  flex: 0 0 auto;
  width: 100px;
  height: 100px;
}
.butter-cheese-eggs > div .block {
  cursor: pointer;
  display: table-cell;
  width: 100px;
  height: 100px;
  color: rgb(234, 226, 136);
  font: bold 50px/0 "Comic Sans MS", sans-serif;
  vertical-align: middle;
  text-align: center;
}
.butter-cheese-eggs > div:nth-child(1), .butter-cheese-eggs > div:nth-child(2), .butter-cheese-eggs > div:nth-child(3), .butter-cheese-eggs > div:nth-child(4), .butter-cheese-eggs > div:nth-child(5), .butter-cheese-eggs > div:nth-child(6) {
  border-bottom: 3px solid rgb(0, 19, 143);
}
.butter-cheese-eggs > div:nth-child(2), .butter-cheese-eggs > div:nth-child(5), .butter-cheese-eggs > div:nth-child(8) {
  border-left: 3px solid rgb(216, 170, 0);
  border-right: 3px solid rgb(216, 170, 0);
}
.butter-cheese-eggs span {
  display: block;
}

.win {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 150%) rotate(-10deg);
  transform-origin: 50% 50%;
  transform-origin: center;
  width: 300px;
  height: 300px;
  margin-top: -60px;
  margin-left: -20px;
  color: rgb(42, 0, 32);
  padding-top: 140px;
  font-family: "Permanent Marker", cursive;
  text-align: center;
}
.win h2 {
  display: block;
  margin: 0 0 10px;
  font-size: 100px;
  text-shadow: 0px 0px 50px rgb(255, 169, 231);
  text-align: center;
}
.win button {
  cursor: pointer;
  transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  outline: none;
  display: inline-block;
  padding: 15px;
  background-color: rgb(0, 158, 152);
  border: none;
  border-radius: 10px;
  font-family: "Permanent Marker", cursive;
  font-size: 20px;
  color: rgb(0, 2, 33);
}
.win button:hover {
  transform: scale(1.1);
}
